.container {
  display: flex;
  grid-area: mainWeather;
  border-radius: var(--rounded-lg);
  padding: 2rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.imageContainer {
  aspect-ratio: 1;
  height: 100%;
}
