.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  row-gap: 1rem;
  grid-area: airConditions;
  background-color: var(--bg-gray);
  border-radius: var(--rounded-lg);
  padding: 2rem;
}

.container > p {
  color: var(--muted-text);
  font-weight: 500;
  text-transform: uppercase;
}

.cardWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.infoCard {
  display: flex;
  column-gap: 0.5rem;
}

.infoCard > div:last-child {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.infoCard > div:last-child > p:last-child {
  font-weight: 700;
  font-size: 1.5rem;
}

.infoCard > div:last-child > p:first-child {
  color: var(--muted-text);
  font-size: 20px;
}
